.callapp-wrapper {
  border: 0.1px solid rgb(182, 179, 179);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.call-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 30px;
  background-color: #0d131f;
  position: relative;
  overflow: hidden;
}
.call-bot {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  padding: 7px;
}
.timer-container {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 30px;
}
.timer {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 4px;
}
/* Controls wrapper */
.control-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

/* Common button styles */
.control-buttons button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.control-buttons span {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.control-buttons button:hover {
  transform: scale(1.1);
}

/* Specific button styles */
.call-speaker {
  background-color: #0d131f;
  color: #87cfd5;
}

.endcall-button {
  background-color: #e31e13;
  margin-top: 20px;
  color: white;
  font-size: 44px !important;
}

.mic-button {
  background-color: #0d131f;
  color: white;
}
.mic-listening {
  background-color: #0d131f;
  color: white;
  width: 70px;
  height: 70px;
}

.control-area {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.Speaker-error-message-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  background-color: #1a1a1f;
  padding: 10px 14px;
  border-radius: 12px;
  color: #c5c7c9;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
  font-size: 14px;
  width: 100%;
}
.error-message {
  font-weight: bold;
  color: rgb(166, 168, 169);
}

.ai-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 30px;
  color: #c6cac9;
  font-weight: bold;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px dotted #bbbcbc;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
